<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/index.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
        <title>To Do List</title>

    </head>

    <body>
        <h1>To Do</h1>

        <form action="/todo/add/" method="post">

              <div class = "text">
                <input type="text" name="newtodo" id="newtodo" placeholder="Things to do" autofocus />
                <input type="submit" id = "submit" />
              </div>

        </form>

        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/done/<%= index %>">✔ </a>
                <a href="/todo/delete/<%= index %>">✘</a>
                <%= todo %>
            </li>
        <% }); %>
        </ul>

        <form action="/todo/complete/" method="get">

              <div class = "complete">
                <button id = "complete"> Completed </button>
              </div>

        </form>

        <form action="/todo/all/" method="get">

              <div class = "all">
                <button id = "all"> All </button>
              </div>

        </form>

    </body>
</html>
